.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  &__btn-close {
    display: none;
  }
  &__burger-btn {
    display: none;
  }

  &__list {
    display: flex;
    gap: 30px;
  }
  &__link {
    color: #444;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
  }
}
.modal-open {
  display: none;
}
.modal-bg {
  width: 400px;
  height: 500px;
  background-color: aqua;
}
@media screen and (max-width: 480px) {
  .menu {
    &__list {
      display: none;
    }
    &__link {
    }
    &__burger-btn {
      display: block;
      border: none;
      background: transparent;
    }
  }
}
